#superior{
    background-color: rgb(189, 182, 182);
    width: 100vw;
    height: 20vh;
    overflow: hidden;

}
#logo{
    width: 5%;
    float: left;
}
#divlogin{
    border-bottom: 13%;
    border-color: black;
    height:100%;
    border: 4px;
    float: right;
    border-style:groove;
}
#bienvenido{
    margin-left: 20%;
}

